* {
    box-sizing: border-box;
}

h1 {
    border: 2px dashed red;
    width: 50%;
    font-size: 3rem;
    padding: 0.3em;
}

main {
    font-size: 2rem;
}

body {
    min-height: 100vh;
}

p {
    font-size: 1em;
    width: 84ch;
}