@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
/*
Typography is the way that text
is arranged and presented.
*/

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}
/*
font-family: fantasy, monospace, sans-serif, serif
*/

/* input, button {
    font: inherit;
} */

p {
    text-decoration: none;
    text-align: justify;
    text-transform: initial;
    text-indent: 2em;
    line-height: 1.3;
    letter-spacing: 0.1em;
    word-spacing: 0.01em;
    font-weight: lighter;
    font-style: oblique;
}